body {
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(0, 100%, 74%) ;

}
/* ______________LAY OUT STYLING______________________-*/
.container {
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
main {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}
.page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-side-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction:column;
    color: white;
}
.right-side-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction:column;
  
   
}
.form-container {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    height: 100%;
    border-radius: 10px;
   

}

 /*_________________- Seperate compoents styling________________________- */ 

 .trial-button {
    background-color: hsl(248, 32%, 49%);
    width: 98%;
    height: 80px;
    text-align: center;
    border-radius: 9px;
    line-height: 40px;
    font-size: 20px;
}
.trial-button:hover {
    background-color: hsl(240, 31%, 59%);
}
.trial-button-text {
width: 80%;
font-size: 5px;
margin: auto;
}

.right-side-container> a {
    text-decoration: none;
    color: white;
}

.right-side-container {

}
input {
    margin-bottom: 10px;
    height: 35px;
    width: 90%;
    
   
}
input::placeholder {
    font-size: 10px;
    font-weight: 20px;
   color:hsl(246, 25%, 77%)
   
}

.submit-button {
    width: 90%;
    height: 35px;
    background-color: hsl(154, 59%, 51%);
    outline: none;
    border: none;
    color: white;
    line-height: 35px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 15;
}
.submit-button:hover {
  background-color: hsl(152, 100%, 74%);  
}
.text-box {
    width: 90%;
}
.text-box > h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

footer {
    color: grey;
    font-size: 5px;
}
footer > p {
    font-size: 10px;
}
footer > p > span > a{
    text-decoration: none;
    color:  hsl(0, 100%, 74%);
    font-size: 12px;
}

.error {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    /* top: 15px;
    right: 40px; */
    top: 0;
    right: 0;
    border-radius: 50%;
}
.input-container {
    position: relative;
}