@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
font-size: 16px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }